html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-weight: bold;
    font-size: 1rem;
    color: #421B2F;
    word-break: break-all;
}

button,
input,
textarea,
ul,
li {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1;
    list-style: none;
}

.contents {
    height: 100%;
    display: flex;
    justify-content: center;
}

.screen {
    height: 100%;
    width: 100vw;
    max-width: 65vh;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background: #FDEEF1;
    position: relative;
    overflow: hidden;
}

.info-area {
    color: #EE7FB7;
    position: relative;
    display: flex;
    background: #F5D3E1;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.time {
    position: relative;
    display: flex;
    flex: 0 0 auto;
}

.battery {
    position: relative;
    display: flex;
    flex: 0 0 auto;
}

.battery i {
    position: relative;
    display: flex;
    line-height: 0.75rem;
}

.battery span {
    position: relative;
    display: flex;
    padding: 0 0.5rem;
}

.logo {
    color: #EE7FB7;
    background: #F5D3E1;
    position: relative;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    font-weight: normal;
}

.header {
    background: #F5D3E1;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 0;
}

.option {
    padding: 0.5rem;
    margin: auto 0;
    background: #FDEEF1;
    border-radius: 15%;
    border: 0.1rem solid #EE7FB7;
}

.option i {
    font-size: 1.5rem;
    align-items: center;
    color: #EE7FB7;
}


.header .sender {
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    padding: 0 0.5rem;
    margin: auto 0;
}

.wrap {
    position: relative;
    z-index: 2;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

.sideBtn {
    z-index: 5;
    position: relative;
    display: flex;
    padding: 0.5rem;
    margin: 0;
    background: #F2A4C5;
    border-radius: 0 100% 100% 0;
    border: 0.1rem solid #F2A4C5;
    font-size: 1.5rem;
    color: #FCEEF2;
    height: 100%;
}

.side-bar {
    z-index: 5;
    display: flex;
    position: absolute;
    top: 0.5rem;
    left: -40%;
    width: 40%;
    height: calc(100% - 1rem);
    background: #F2A4C5;
    overflow: hidden;
    padding: 1rem 0;
    border-radius: 0 0 0.5rem 0;
}

.open{
    margin-left: 40%;
}

.close{
    margin-left: 0;
}


.chara-list {
    display: flex;
    position: relative;
    flex-direction: column;
    background: #F2A4C5;
    padding: 0rem 1rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chara-list::-webkit-scrollbar{
    width: 1.5rem;
}
.chara-list::-webkit-scrollbar-track{
    background: transparent;
}
.chara-list::-webkit-scrollbar-thumb{
    background: #FCEEF2;
    border-radius: 1.5rem;
    border: 0.5rem solid #F2A4C5;;
}


.chara-list li {
    background: #FCEEF2;
    padding: 0.5rem;
    display: flex;
    position: relative;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    margin: 0.2rem 0;
    border: 0.1rem solid #FCEEF2;
}

.list-icon {
    position: relative;
    display: flex;
    width: 10vw;
    height: 10vw;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 100%;
    background: gray;
    flex-shrink: 0;
}

.list-username {
    display: flex;
    position: relative;
    margin: auto 0.5rem;
    overflow: hidden;
    height: 100%;
}

.list-username>span {
    margin: auto 0;
    display: flex;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    animation: 5s linear 2s infinite normal none running;
}

:root {
    --scrollWidth: 0px;
}

@keyframes namescroll {
    0% {
        left: 0;
    }

    50% {
        left: var(--scrollWidth);
    }

    60% {
        left: var(--scrollWidth);
    }

    61% {
        left: 0;
    }

    100% {
        left: 0;
    }
}

.chat-area {
    position: relative;
    z-index: 2;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-area::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.list-username>span::-webkit-scrollbar {
    display: none;
}


.message {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.8rem 0.8rem;
    border: none;
    max-width: 50%;
    pointer-events: auto;
    margin: 0;
    white-space: pre-line;
}

.message-right {
    margin: 0.5rem 2rem;
    margin-left: auto;
    border-radius: 0.8em 0 0.8rem 0.8rem;
    background: #EE7FB7;
    color: #ffffff;
}



.message-right::before {
    content: "";
    position: absolute;
    top: 0;
    right: -0.9rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.66rem 1rem 0 0;
    border-color: #EE7FB7 transparent transparent transparent;
}

.messageBox-left {
    position: relative;
    display: flex;
    margin: 0.5rem 1rem;
    white-space: pre-line;
    align-items: flex-start;
    word-break: break-all;
    pointer-events: none;
}

.message-icon {
    position: relative;
    display: flex;
    width: 15vw;
    height: 15vw;
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 100%;
    background: gray;
    flex-shrink: 0;
    /*border: 0.1em solid #F5D3E1;*/
}

.message-left {
    margin: 0.5rem 1rem auto;
    margin-right: auto;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    background: #ffffff;
    border: 0.1rem solid #F5D3E1;

}

.message-left::before {
    content: "";
    position: absolute;
    top: -0.1rem;
    left: -1.15rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.15rem 0.81rem 0;
    border-color: transparent #F5D3E1 transparent transparent;
}

.message-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: -0.9rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1rem 0.66rem 0;
    border-color: transparent #ffffff transparent transparent;
}

.form-area {
    background: #F5D3E1;
    position: relative;
    display: flex;
    z-index: 3;
    margin: 0;
    padding: 1rem;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.5rem 0.5rem 0 0;
}


.senderSelect {
    font-size: inherit;
    font-weight: bold;
    font-family: inherit;
    line-height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.6rem 0.8rem;
    margin: 0;
    border: 0.1rem solid #EE7FB7;
    background: #EE7FB7;
    color: #ffffff;
}

.sender-R {
    background: #EE7FB7;
    color: #ffffff;
}

.sender-R::before {
    content: "自分";
}

.sender-L {
    background: #ffffff;
    color: #EE7FB7;
}

.sender-L::before {
    content: "相手";
}

.textarea-bg {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    font-size: inherit;
    line-height: inherit;
    padding: 0.8rem 0.8rem;
    border: none;
    outline: 0;
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1 1 auto;
    margin: 0 1rem;
    padding: 0.8rem;
    background: #ffffff;
    border-radius: 0.5rem;
}

.textarea {
    font-weight: bold;
    font-size: inherit;
    color: #421B2F;
    font-family: inherit;
    border: none;
    outline: 0;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: relative;
    width: 100%;
    height: 1.5rem;

}

.formButton-submit {
    position: relative;
    display: flex;
}

.submit {
    font-size: inherit;
    font-weight: bold;
    font-family: inherit;
    line-height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.6rem 0.8rem;
    margin: 0;
    background: #FAEEF0;
    color: #BC5F7E;
    border-radius: 40%;
    box-shadow: 0 0 0.2rem #EE7FB7;
}