:root {
    --font: #421B2F;
    --pink1: #EE7FB7;
    --pink2: #F2A4C5;
    --pink3: #FCEEF2;
    --pink4: #F5D3E1;
    ;
}


html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    line-height: 1;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-weight: 600;
    font-size: 1rem;
    color: var(--font);
    word-break: break-all;
}

button,
input,
textarea,
ul,
li {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1;
    list-style: none;
}




.screen {
    justify-content: center;
    height: 100%;
    width: 100vw;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    background: var(--pink3);
    position: relative;
}

.info {
    color: var(--pink1);
    position: relative;
    display: flex;
    background: var(--pink4);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.time {
    position: relative;
    display: flex;
    flex: 0 0 auto;
}


.battery {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    align-items: center;
}

.battery i {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

.battery span {
    position: relative;
    display: flex;
    padding: 0 0.5rem;
    height: 100%;
}

.logo {
    color: var(--pink1);
    background: var(--pink4);
    position: relative;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    font-weight: normal;
}

.header {
    background: var(--pink4);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 0;
}

.option-btn {
    padding: 0.5rem;
    margin: auto 0 auto 0.5rem;
    background: #FDEEF1;
    border-radius: 15%;
    border: 0.1rem solid var(--pink1);
}

.option-btn i {
    font-size: 1.5rem;
    align-items: center;
    color: var(--pink1);
}


.room-name {
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    position: relative;
    flex: 1 1 100%;
    padding: 0 0.5rem;
    margin: auto 0;
    overflow: hidden;
    height: 100%;
}

.room-name>span {
    margin: auto 0;
    display: flex;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    pointer-events: none;
    height: max-content;
}

.wrapper {
    position: relative;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.menuBtn {
    z-index: 5;
    position: relative;
    display: flex;
    background: var(--pink2);
    border-radius: 0 100% 100% 0;
}

.menuBtn i {
    font-size: 1.5rem;
    color: var(--pink3);
    padding: 1rem;
}

.menu {
    display: flex;
    position: absolute;
    top: 0.5rem;
    left: -40%;
    width: 40%;
    height: calc(100% - 3.5rem);
    background: var(--pink2);
    overflow: hidden;
    padding: 1rem 0rem;
    border-radius: 0 0 0.5rem 0;
    flex-direction: column;
}

.menu-open {
    margin-left: 40%;
}

.menu-close {
    margin-left: 0;
}



.menu-select {
    display: flex;
    position: relative;
    width: calc(100% - 2.5rem);
    padding: 1rem 1rem 0 1rem;
    justify-content: space-between;
    scrollbar-width: 0.5rem;
    pointer-events: none;
    z-index: 5;
}

.menu-select-btn {
    width: calc(50% - 1.5rem);
    justify-content: center;
    word-break: normal;
    color: var(--font);
    background: var(--pink3);
    display: flex;
    position: relative;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--pink3);
    pointer-events: auto;
    white-space: nowrap;
    padding: 1rem 0.5rem;
}

.menu-select-active {
    color: var(--pink3);
    background: var(--pink1);
    border: 0.1rem solid var(--pink3);
}


.menu-list {
    display: none;
    position: relative;
    flex-direction: column;
    background: var(--pink2);
    padding: 0rem 1rem;
    width: calc(100% - 2.5rem);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 0.5rem;
    z-index: 3;
}

.menu-list::-webkit-scrollbar,
.menu-select::-webkit-scrollbar {
    width: 0.5rem;
}

.menu-list::-webkit-scrollbar-track,
.menu-select::-webkit-scrollbar-track {
    background: transparent;
}

.menu-list::-webkit-scrollbar-thumb {
    background: var(--pink3);
    border-radius: 1.5rem;
    /* border: 0.5rem solid var(--pink2);*/
}

.menu-list-active {
    display: flex;
}

.menu-list-item,
.add-group-btn {
    background: var(--pink3);
    padding: 0.5rem;
    display: flex;
    position: relative;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    margin: 0.2rem 0;
    border: 0.1rem solid var(--pink3);
    pointer-events: auto;
}

.menu-list-item-active,
.add-group-btn-active {
    color: var(--pink3);
    background: var(--pink1);
    border: 0.1rem solid var(--pink3);
}

.menu-list-item-icon {
    position: relative;
    display: flex;
    width: 10vw;
    height: 10vw;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 100%;
    background: gray;
    flex-shrink: 0;
    pointer-events: none;
    background-size: contain;
}

.add-group-btn-icon {
    color: #ffffff;
    position: relative;
    display: flex;
    width: 10vw;
    height: 10vw;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 25%;
    flex-shrink: 0;
    pointer-events: none;
    background-size: contain;
    background: var(--pink1);
}

.add-group-btn-icon i {
    margin: auto;
}

.menu-list-item-name,
.add-group-btn-name {
    display: flex;
    position: relative;
    margin: auto 0.5rem;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
}

.menu-list-item-name>span,
.add-group-btn-name>span {
    pointer-events: none;
    margin: auto 0;
    display: flex;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    pointer-events: none;
}

.chat-wrapper {
    position: relative;
    z-index: 2;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-area {
    position: relative;
    z-index: 2;
    flex: 1 1 100%;
    display: none;
    flex-direction: column;
    padding: 2vh 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-active {
    display: flex;
}

.chat-area::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.menu-list-item-name>span::-webkit-scrollbar,
.room-name>span::-webkit-scrollbar,
.lock-noticeList::-webkit-scrollbar,
.add-group::-webkit-scrollbar,
.add-group-list-name>span::-webkit-scrollbar {
    display: none;
}


.message {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.8rem 0.8rem;
    border: none;
    pointer-events: auto;
    margin: 0;
    white-space: pre-line;
    pointer-events: auto;
    width: fit-content;
}

.message-right {
    margin: 0.5rem 2rem;
    margin-left: auto;
    border-radius: 0.8em 0 0.8rem 0.8rem;
    background: var(--pink1);
    color: #ffffff;
    max-width: 50%;
}



.message-right::before {
    content: "";
    position: absolute;
    top: 0;
    right: -0.9rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.66rem 1rem 0 0;
    border-color: var(--pink1) transparent transparent transparent;
}

.messageBox-left {
    position: relative;
    display: flex;
    margin: 0.5rem 1rem;
    white-space: pre-line;
    align-items: flex-start;
    word-break: break-all;
    pointer-events: none;
    max-width: 70%;
}

.messageBox-left>div {
    flex-direction: column;
    margin-left: 0.5rem;
    white-space: pre-line;
    align-items: flex-start;
    word-break: break-all;
    pointer-events: none;

}

.message-sender {
    position: relative;
    font-size: 1rem;
    padding-top: 0.2rem;
    white-space: nowrap;
}


.message-icon {
    position: relative;
    display: flex;
    width: 15vw;
    height: 15vw;
    max-width: 5rem;
    max-height: 5rem;
    flex-shrink: 0;
    border-radius: 100%;
    background-color: gray;
    pointer-events: none;
    background-size: contain;
}

.message-left {
    margin: 0.5rem 1rem auto;
    margin-right: auto;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    background: #ffffff;
    border: 0.1rem solid var(--pink4);

}

.message-left::before {
    content: "";
    position: absolute;
    top: -0.1rem;
    left: -1.15rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.15rem 0.81rem 0;
    border-color: transparent var(--pink4) transparent transparent;
}

.message-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: -0.9rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1rem 0.66rem 0;
    border-color: transparent #ffffff transparent transparent;
}

@keyframes messageanime {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.message .is-show {
    animation: messageanime 1s ease-out 1 forwards;
}


.form {
    background: var(--pink4);
    position: relative;
    display: flex;
    z-index: 3;
    padding: 1rem;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0.5rem 0.5rem 0 0;
    white-space: nowrap;
    left: 0.5rem;
    margin-right: 1rem;
}


.form-sender {
    font-size: inherit;
    font-weight: bold;
    font-family: inherit;
    line-height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.6rem 0.8rem;
    margin: 0;
    /*border: 0.1rem solid var(--pink1);*/
    background: var(--pink1);
    color: #ffffff;
}

.textarea-bg {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    font-size: inherit;
    line-height: inherit;
    padding: 0.8rem 0.8rem;
    border: none;
    outline: 0;
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1 1 auto;
    margin: 0 1rem;
    padding: 0.8rem;
    background: #ffffff;
    border-radius: 0.5rem;
}

.textarea {
    font-weight: bold;
    font-size: inherit;
    color: var(--font);
    font-family: inherit;
    border: none;
    outline: 0;
    line-height: 1.5;
    display: flex;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: relative;
    width: 100%;
    height: 1.5rem;

}

.form-submit {
    position: relative;
    display: flex;
}

.form-submit-btn {
    font-size: inherit;
    font-weight: bold;
    font-family: inherit;
    line-height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.6rem 0.8rem;
    margin: 0;
    background: #ffffff;
    color: #BC5F7E;
    border-radius: 40%;
    box-shadow: 0 0 0.2rem var(--pink1);
}

.add-group-bg {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background: rgba(128, 128, 128, 0.3);
}

.add-group-modal {
    width: 100%;
    max-height: 80%;
    margin-top: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: var(--pink3);
    border-radius: 1rem 1rem 0 0;
}


.add-group-header {
    display: flex;
    position: relative;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--pink1);
    justify-content: space-between;
}

.add-group-header span {
    position: relative;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}

.add-group-form {
    display: flex;
    background: #ffffff;
    border-radius: 1rem;
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0;
    width: calc(100% - 2rem);
    border: 0.1rem solid var(--pink2);
}

.add-group-form input {
    display: flex;
    width: 100%;
    margin: 0 1rem;
}

.add-group-form button {
    color: #ffffff;
    display: flex;
    background: var(--pink2);
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
}

.add-group {
    z-index: 99;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 0;
    width: 100%;
}

.add-group label {
    width: 100%;
}

.add-group-list {
    padding: 0.5rem;
    display: flex;
    position: relative;
    font-size: 1.2rem;
    pointer-events: auto;
    height: 100%;
}

.add-group-list-icon {
    position: relative;
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: gray;
    flex-shrink: 0;
    pointer-events: none;
    background-size: contain;
}

.add-group-list-name {
    position: relative;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    margin: auto 0.5rem;
    height: 100%;
}

.add-group-list-name>span {
    margin: auto 0;
    display: flex;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    pointer-events: none;
    height: max-content;
}

.add-group-list input {
    display: flex;
    -webkit-appearance: auto;
    margin: auto 1rem;
    align-items: center;
}

.add-group-list:has(input[type="checkbox"]:checked) {
    background: var(--pink1)
}

.add-group-list:has(input[type="checkbox"]:checked) .add-group-list-name>span {
    color: #ffffff;
}

.telephone {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgb(94, 94, 94);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tel-icon {
    position: relative;
    display: flex;
    flex: 0 0 auto;
}


.tel-icon>div{
    position: relative;
    display: flex;
    width: 12rem;
    height: 12rem;
    flex-shrink: 0;
    border-radius: 100%;
    background: #ffffff;
    max-width: 50vw;
    max-height: 50vw;
    margin: 5rem auto;
    background-size: contain;
}


.tel-name {
    display: flex;
    position: relative;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    margin: 0 auto;
    min-width: 12rem;
    background: #ffff;
    border-radius: 1rem;
    white-space: nowrap;

}

.tel-loding {
    display: flex;
    position: relative;
    font-size: 1rem;
    white-space: nowrap;
    padding: 1rem;
    margin: 5rem auto;
    width: 12rem;
    color: #ffff;
    justify-content: center;
}

.tel-closeBtn {
    display: flex;
    margin: 5rem auto;
    pointer-events: auto;
}

.tel-closeBtn i {
    position: relative;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    padding: 2rem;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    background: red;
    color: #ffffff;
}

.lock-screen {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background: var(--pink2);
    flex-direction: column;
    align-items: center;
    color: #ffffff;

}

.lock-clock {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: normal;
    height: 40vh;
    flex: 0 0 auto;
}

.lock-clock i {
    display: flex;
    font-size: 3rem;
    padding: 2rem;
    justify-content: center;
}

.lock-clockTime {
    position: relative;
    display: flex;
    color: #ffffff;
    font-size: 5rem;
    justify-content: center;
    margin: 1rem;

}

.lock-clockDay {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.lock-noticeList {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    overflow: scroll;
    flex-direction: column;
    width: 80%;
    margin-bottom: 5%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.lock-noticeBox {
    background: rgba(255, 255, 255, 0.8);
    color: #333333;
    font-size: 1.2rem;
    display: flex;
    position: relative;
    padding: 1rem;
    border-radius: 0.8rem;
    flex-direction: column;
    margin-bottom: 1rem;
}

.lock-noticeBox-app {
    align-items: center;
    justify-content: center;
}

.lock-noticeBox-app i {
    font-size: 1.5rem;
    margin: auto 0;
    vertical-align: middle;
    color: var(--pink1);
}

.lock-noticeBox-app span {
    font-weight: bold;
    font-size: 1rem;
    margin: auto 0.5rem;
    vertical-align: middle;
    color: gray;
}

.lock-noticeBox-messageBox {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;

}

.lock-messageBox-icon {
    width: 2.4rem;
    height: 2.4rem;
    background-color: gray;
    display: flex;
    position: relative;
    flex-shrink: 0;
    border-radius: 100%;
    background-size: contain;
}

.lock-messageBox-message {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    overflow: hidden;
}

.lock-messageBox-name {
    display: flex;
    font-size: 1.2rem;
    padding: 0.6rem 0;
    color: #421B2F;
}

.lock-messageBox-text {
    display: flex;


}

.lock-messageBox-text>span {
    display: flex;
    white-space: nowrap;
    font-size: 1rem;
    color: gray;
    height: 100%;
}

.modal-open {
    display: flex;
}